/* Banner */
.banner-img {
  margin-top: 30px;
}

/* Heading Styles */
.home-page h1 {
  color: #333;
  font-family: "Playfair Display", serif;
  font-size: 24px;
  margin-bottom: 20px;
}

/* Product Grid */
.home-page {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between; /* Distribute columns evenly */
}

.home-page .card {
  background-color: #f9f9f9;
  width: calc(33.33% - 20px); 
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  margin-bottom: 20px; 
  transition: transform 0.3s ease;
  flex: 0 0 calc(33.33% - 20px); 
}

.home-page .card:hover {
  transform: scale(1.05);
}

.home-page .card-name-price {
  display: flex;
  flex-direction: column; 
  padding: 10px;
}

.home-page .card-name-price h2 {
  color: #333;
  font-size: 18px;
}

.home-page .card-price {
  color: #00a000;
  font-weight: bold;
  font-size: 16px;
}

.home-page .card-text {
  color: #777;
  font-size: 14px;
  padding: 10px;
}

/* Buttons */
.home-page button {
  background-color: #000;
  color: #fff;
  border: none;
  border-radius: 5px;
  font-size: 14px;
  font-weight: bold;
  padding: 10px;
  cursor: pointer;
}

.home-page button:hover {
  background-color: #333;
}

/* Filters */
.filters {
  margin-top: 40px;
  padding: 20px;
  border-bottom: 1px solid #ccc;
}

.filters h4 {
  color: #333;
  font-size: 20px;
  margin-bottom: 10px;
}

/* Load More Button */
.loadmore {
  background-color: #00a000;
  color: #fff;
  font-weight: bold;
  font-size: 16px;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  margin-top: 20px;
  cursor: pointer;
}

.loadmore:hover {
  background-color: #008000;
}
